body{
  /*텍스트 선택 불가*/
  -webkit-user-select: none !important; 
  -moz-user-select: -moz-none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent; 
  /* background-color: #F1F3F5; */
  overflow: hidden scroll;
}

#root{
  margin: auto;
  background-color: white;
}

#root > div{
  background-color: white;
}

a { 
  -webkit-tap-highlight-color:transparent; 
  -webkit-user-drag: none;
  text-decoration: none;
  color:black;
}


img {
  -webkit-user-drag: none;
}

div {
  -webkit-user-drag: none;
}

img:not([src]),
img[src=""] {
  display: none;
}

img {
  vertical-align: bottom;
}

/* 모바일 이미지 및 링크 꾹 누를 시 미리보기 방지*/
a, img {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Disable text selection on iOS */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

body{
  -ms-overflow-style: none;
  }
  
 ::-webkit-scrollbar {
   display: none;
 }
 